@import './variables.scss';

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  height: 90px;
  background: white;
  box-shadow: 0 -2px 11px #858585;
  width: 100%;

  img {
    margin: 0 15px 0 30px;
    height: 50px;
  }

  span {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  @media only screen and (min-width: $desktop) {
    height: 130px;

    img {
      margin-left: 200px;
      height: 90px;
    }

    span {
      font-size: 2em;
    }
  }
}

.flex-container {
  @media only screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
  }
}

.tile-container {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 21px -8px #858585;
  padding: 5px 20px;
  background: white;
  max-width: 400px;

  @media only screen and (min-width: $desktop) {
    width: 400px;
    height: 362px;

    &.last {
      margin: 40px auto;
    }
  }

  hr {
    width: 100%;
    margin: 0 0 15px 0;
  }

  span {
    display: flex;
    justify-content: space-between;

    p {
      margin: 10px 0;
    }
  }

  .updated {
    font-size: 0.8em;
    text-align: right;
    margin-top: 25px;
  }

  table {
    margin: 0 0 10px 0;
    border-collapse: collapse;

    tr {
      height: 35px;

      &:first-of-type {
        border-bottom: 1px solid black;
      }

      td {
        text-align: center;

        &:first-of-type {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 120px 20px;

  canvas {
    max-width: 900px;

    @media only screen and (min-width: $desktop) {
      width: 900px;
    }
  }
}
