@import './variables.scss';

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 200%;
  width: 100%;
  background: #fafafa;
}

.header {
  display: flex;
  align-items: center;
  height: 90px;
  background: white;
  box-shadow: 0 -2px 11px #858585;

  img {
    margin: 0 15px 0 30px;
    height: 50px;
  }

  span {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  @media only screen and (min-width: $desktop) {
    height: 130px;

    img {
      margin-left: 200px;
      height: 90px;
    }

    span {
      font-size: 2em;
    }
  }
}

.tile-container {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 21px -8px #858585;
  padding: 0 20px;
  background: white;

  hr {
    width: 100%;
    margin: 0 0 15px 0;
  }

  span {
    display: flex;
    justify-content: space-between;

    p {
      margin: 10px 0;
    }
  }

  .updated {
    font-size: 0.8em;
    text-align: right;
    margin-top: 25px;
  }
}
