@import './variables.scss';
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  color: #3d0d0d;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  height: 90px;
  background: white;
  box-shadow: 0 -2px 11px #858585;
  width: 100%;

  img {
    margin: 0 15px 0 30px;
    height: 50px;
  }

  span {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  @media only screen and (min-width: $desktop) {
    height: 130px;

    img {
      margin-left: 200px;
      height: 90px;
    }

    span {
      font-size: 2em;
    }
  }
}

.flex-container {
  @media only screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
  }
}

.tile-container {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 21px -8px #858585;
  padding: 5px 20px;
  background: white;
  max-width: 400px;

  @media only screen and (min-width: $desktop) {
    width: 400px;
    height: 362px;
  }

  hr {
    width: 100%;
    margin: 0 0 15px 0;
  }

  span {
    display: flex;
    justify-content: space-between;

    p {
      margin: 10px 0;
    }
  }

  .updated {
    font-size: 0.8em;
    text-align: right;
    margin-top: 25px;
  }

  table {
    margin: 0 0 10px 0;
    border-collapse: collapse;

    tr {
      height: 35px;

      &:first-of-type {
        border-bottom: 1px solid black;
      }

      td {
        text-align: center;

        &:first-of-type {
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 120px 20px;

  canvas {
    max-width: 900px;

    @media only screen and (min-width: $desktop) {
      width: 900px;
    }
  }
}

.search {
  text-align: left;
  margin: 40px 0 20px 20px;

  input {
    border-radius: 10px;
    box-shadow: 0 1px 21px -8px #858585;
    border: none;
    height: 55px;
    min-width: 280px;
    width: 95%;
    padding: 0 20px 0 70px;

    @media only screen and (min-width: $desktop) {
      width: 500px;
      padding-left: 110px;
    }

    &::placeholder {
      font-family: 'Roboto', sans-serif;
    }
  }

  &::before {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    margin-top: 16px;
    left: 50px;
    cursor: pointer;

    @media only screen and (min-width: $desktop) {
      left: unset;
      margin-left: 40px;
    }
  }
}

.filter-container {
  border-radius: 10px;
  box-shadow: 0 1px 21px -8px #858585;
  width: 90%;
  margin: 0 20px 100px 20px;
  background-color: white;
  min-width: 280px;
  text-indent: 70px;
  padding: 10px 0;

  @media only screen and (min-width: $desktop) {
    width: 96%;
  }

  div {
    margin: 15px 0;

    span {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
